doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                url: '%env(resolve:DATABASE_POSTGRES_URL)%'
            mysql:
                url: '%env(resolve:DATABASE_MYSQL_URL)%'
    orm:
        default_entity_manager: default
        auto_generate_proxy_classes: true
        entity_managers:
            default:
                naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
                connection: default
                mappings:
                    App:
                        is_bundle: false
                        type: annotation
                        dir: '%kernel.project_dir%/src/Entity'
                        prefix: 'App\Entity'
                        alias: App
            andrii_mvp_office:
                naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
                connection: mysql
                mappings:
                    MVP_Office:
                        is_bundle: false
                        type: annotation
                        dir: '%kernel.project_dir%/andrii/mvp_office/src/Entity'
                        prefix: 'MVP_Office\Entity'
                        alias: MVP_Office